<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>kok 的收纳箱</title>
        <link rel="stylesheet" href="static/main.css">
        <link
            href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css"
            rel="stylesheet">
        
    </head>
    <body>
        <div id="profile">
            <header class="header">
                <img src="static/img/logo.png" class="header-logo">
                <span class="header-text">Say hello to curiosity</span>
            </header>
            <main class="main">
                <sidebar class="sidebar">
                    <div class="sidebar-block" v-for="(sideItem,index) in sidebar">
                        <span class="sidebar-block-title">{{sideItem.name}}</span>
                        <ul>
                            <li v-for="(item,index) in sideItem.classify">{{item}}</li>
                        </ul>
                    </div>
                    <div class="sidebar-footer">
                        <span>Design and made by @kokdemo</span>
                        <a href="http://github.com/kokdemo">
                            <i class="fa fa-github" aria-hidden="true"></i>
                        </a>
                    </div>
                </sidebar>
                <content class="content">
                    <gallery
                        :images="gallery.photos"
                        :index="gallery.photoindex"
                        @close="gallery.photoindex = null"></gallery>
                    <div
                        class="content-block"
                        v-for="(sideBarClassify,sideBarClassifyindex) in sidebar">
                        <h3>{{sideBarClassify.name}}</h3>
                        <template v-for="(sideBarItem,itemIndex) in sideBarClassify.classify">
                            <h4>{{sideBarItem}}</h4>
                            <template
                                v-for="(contentItem,contentItemIndex) in content"
                                v-if="contentItem.name==sideBarItem">
                                <div
                                    class="content-block-photo"
                                    v-for="(photo,photoIndex) in contentItem.photos"
                                    @click="gallery.photos=contentItem.photos,gallery.photoindex=photoIndex">
                                    <img :src="photo">
                                </div>

                                <div class="content-block-item" v-for="(item,itemIndex) in contentItem.items">
                                    <a :href="item.href">
                                        <img :src="item.src">
                                        <span>{{item.title}}</span>
                                    </a>
                                </div>
                            </template>
                        </template>
                    </div>
                    <!-- -->
                </content>
            </main>
        </div>

        <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-helper.js"></script>
        <script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery.js"></script>
        <script type="text/javascript" src="https://unpkg.com/blueimp-gallery@2.27.0/js/blueimp-gallery-fullscreen.js"></script>
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/blueimp-gallery@2.27.0/css/blueimp-gallery.min.css">
        <script src="https://unpkg.com/vue-gallery@1.2.4/dist/js/vue-gallery.min.js"></script>
        <script src="static/vue-href.js"></script>
        <script>
            var board = new Vue({
                el: '#profile',
                components: {
                    'gallery': VueGallery
                },
                data: {
                    gallery: {
                        photos: [],
                        photoindex: null
                    },
                    sidebar: [
                        {
                            name: 'Photography',
                            classify: ['2017', '2016', '2015']
                        }, {
                            name: 'Cooking',
                            classify: ['bake', 'b', 'c']
                        }, {
                            name: 'Handwork',
                            classify: ['a', 'b', 'c']
                        }, {
                            name: 'Writing',
                            classify: ['blog', 'jianshu', 'wechat offical account']
                        }, {
                            name: 'Project',
                            classify: ['web project', 'chrome extension','web game', 'translation','other project']
                        }, {
                            name: 'Design',
                            classify: ['a', 'b', 'c']
                        }
                    ],
                    content: [
                        {
                            name: 'a',
                            photos: [
                                'static/img/background.jpg', 'static/img/background.jpg', 'static/img/background.jpg'
                            ],
                            items: [
                                {
                                    src: 'static/img/background.jpg',
                                    title: 'abc',
                                    href: 'http://google.com'
                                }
                            ]
                        }
                    ],
                    cards: [
                        {
                            name: 'blog',
                            describe: '一个记录文字的地方。',
                            pic: 'static/img/box.png',
                            href: 'http://kokdemo.github.io/blog/'
                        }, {
                            name: 'Why learn this?',
                            describe: '一个收集学习经验的收藏夹。',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-200',
                            href: 'http://why-should-i-learn-this-course.readthedocs.org/zh_CN/latest/'
                        }, {
                            name: 'Impress.js教程',
                            describe: '就仅仅是中文教程。',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-201',
                            href: 'https://github.com/kokdemo/impress.js-tutorial-in-Chinese'
                        }, {
                            name: '前端问答',
                            describe: '做了一些答案的增补。',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-202',
                            href: 'https://github.com/kokdemo/Front-end-Developer-QandA'
                        }, {
                            name: 'K-Launcher',
                            describe: '一个提高浏览效率的扩展',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-203',
                            href: 'https://github.com/kokdemo/K-Launcher'
                        }, {
                            name: 'QianCi-遣词',
                            describe: '提高中文输入MarkDown效率',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-204',
                            href: 'https://github.com/kokdemo/QianCi'
                        }, {
                            name: 'v2ex.k',
                            describe: '颠覆的v2ex界面扩展',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-205',
                            href: 'https://github.com/kokdemo/v2ex.k'
                        }, {
                            name: 'vue-href',
                            describe: '减少一层一层a标签的嵌套',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-206',
                            href: 'https://github.com/kokdemo/vue-href'
                        }, {
                            name: '2048Mobile',
                            describe: '用重力感应玩的2048',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-207',
                            href: 'https://github.com/kokdemo/2048Mobile'
                        }, {
                            name: 'jianghu',
                            describe: '有如这波澜的江湖',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-208',
                            href: 'https://github.com/kokdemo/jianghu'
                        }, {
                            name: 'Cool24',
                            describe: '精巧的24点游戏',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-209',
                            href: 'https://github.com/kokdemo/Cool24'
                        }, {
                            name: 'ClickGold',
                            describe: '简单的放置类小游戏',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-210',
                            href: 'https://github.com/kokdemo/ClickGold'
                        }, {
                            name: 'xdeat',
                            describe: '我最早认真对待的项目',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-211',
                            href: 'https://github.com/kokdemo/xdeat'
                        }, {
                            name: 'deadline',
                            describe: 'deadline是第一生产力',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-212',
                            href: 'https://github.com/kokdemo/deadline'
                        }, {
                            name: 'companyReview',
                            describe: '你的公司到底有多好？',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-213',
                            href: 'https://github.com/kokdemo/companyReview'
                        }, {
                            name: 'ColorBox',
                            describe: '解决配色之苦',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-214',
                            href: 'https://github.com/kokdemo/ColorBox'
                        }, {
                            name: 'KMockup',
                            describe: '简单的mockup图片生成器',
                            pic: 'http://www.66tools.com/WebTools/rImage?p=220-215',
                            href: 'https://github.com/kokdemo/KMockup'
                        }

                    ]
                }
            });
        </script>
        <script>
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                },
                i[r].l = 1 * new Date();
                a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m
                    .parentNode
                    .insertBefore(a, m)
            })(
                window,
                document,
                'script',
                'http://www.google-analytics.com/analytics.js',
                'ga'
            );

            ga('create', 'UA-73260488-1', 'auto');
            ga('send', 'pageview');
        </script>
    </body>
</html>