extends partial/layout

block container
    h1= page.year
    include mixins/post
    +postList()

block pagination
    include mixins/paginator
    +home()


block copyright
    include partial/copyright