extends partial/layout

block container
    h2 archives
    != list_archives({show_count: false, class: 'nav-list',style: 'text',type: 'yearly',separator: '&nbsp; &nbsp; &nbsp; &nbsp;'})
    h2= page.year
    include mixins/post
    +postList()

block pagination
    include mixins/paginator
    +home()


block copyright
    include partial/copyright