extends partial/layout

block container
    include mixins/post
    +posts()

block pagination
    include mixins/paginator
    +home()

block copyright
    if (page.prev == 0)
        h2 categories
        != list_categories({ show_count: false, class : 'nav-list' , style:'text' ,separator:'&nbsp; &nbsp; &nbsp; &nbsp;'})
        //h2 tags
        //!= list_tags({ show_count: false, class : 'nav-list', style:'text',separator:'&nbsp; &nbsp; &nbsp; &nbsp;'})
    include partial/copyright