mixin postInfo(item)
    .post-meta
        span.post-time
            != full_date(item.date, 'll')

mixin postTag(item)
    .post-tag-cat
        span.post-tags
            - for(var i=0;i<item.tags.data.length;i++){
                a(href= url_for(item.tags.data[i].path))
                    != item.tags.data[i].name
            - }
        span.post-category
            - item.categories.forEach(function(cat,index) {
                a(href= url_for(cat.path))
                    != cat.name
            -})
        .clearfix

mixin postList()
    ul.archive.post-list
        - page.posts.each(function(item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
        - })

mixin posts()
    ul.home.post-list
        - page.posts.each(function(item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo( item )
                    .post-content
                        != item.excerpt
                    a.read-more(href=item.path)!= __('more')
                    +postTag(item)
        - })

mixin post(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content